backlash
beautifulsoup
beautifulsoup4>=4.3.2
clime
coverage
cssmin
cssselect
django==1.6.3
django-aggregate-if
django-dirtyfields
django-filter
django-guardian
django-nose
djangorestframework
django-xadmin
fake-factory
google-api-python-client
html5lib
httplib2
httpretty
huey
Jinja2
jsmin
jsonfield
lxml
mock
mox
MySQL-python
nose
nose-cov
oauth2client
Pillow
protobuf
pycrypto
pymysql
python-openid
python-social-auth
pyyaml
redis
requests
requests-mock
requests-oauthlib
schema
six
slimit
south
sure
testfixtures
ua-parser
unicodecsv
unittest2
user-agents
webapp2
webob
webtest
ipython
pdbpp
gcloud
-e git+git://github.com/lucemia/gcloud-python-orm.git@master#egg=gcloudorm
-e git+git://github.com/Tagtoo/ndb-utils.git@master#egg=ndb-utils
-e git+git://github.com/Tagtoo/pyslack.git@master#egg=pyslack
-e git://github.com/Tagtoo/django-gcloud-storage@master#egg=django-gcloud-storage
